$primary-color: #437453;

$background-color-dark: #161616;
$dark-color-dark: #202020;
$verydark-color-dark: #161616;
$grey-color-dark: #424242;
$darkgrey-color-dark: #3a3a3a;
$lightgrey-color-dark: #929292;

$monospace-font: 'JetBrains Mono', monospace;
